#codeigniter 3
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/application
/assets
/media
/modules/*
!/modules/sketchboard/
/modules/sketchboard/node_modules
/system
/resources
/temp
/uploads
.htaccess
/index.php
/package.json
/pipe.php
/tailwind.config.js
/web.config
/webpack.mix.js
application/config/app-config.php
/install__
/install
*.zip

/envato-assets
/tools
/.php_cs.cache
/.php-cs-fixer.dist.php
/.vscode
*.phar

webpack.config.js
package.json
package-lock.json
modules/sketchboard/assets/src
